<nb-card size="tiny">
  <nb-card-header>
    Thruster Sensitivity
  </nb-card-header>
  <nb-card-body>
    <ngx-sensitivity-slider (sensitivityEmitter)="updateSensitivity(1, $event)" [inputSensitivity]="linearSensitivity"></ngx-sensitivity-slider>
    <p class="text-center my-2">Linear Axis - {{ linearSensitivity }}</p>
    <ngx-sensitivity-slider (sensitivityEmitter)="updateSensitivity(2, $event)" [inputSensitivity]="angularSensitivity"></ngx-sensitivity-slider>
    <p class="text-center my-2">Angular Axis - {{ angularSensitivity }}</p>
    <ngx-sensitivity-slider (sensitivityEmitter)="updateSensitivity(3, $event)" [inputSensitivity]="verticalSensitivity"></ngx-sensitivity-slider>
    <p class="text-center my-2">Vertical Axis - {{ verticalSensitivity }}</p>
    <ngx-sensitivity-slider (sensitivityEmitter)="updateSensitivity(4, $event)"></ngx-sensitivity-slider>
    <p class="text-center my-2">Change All</p>
  </nb-card-body>
</nb-card>
