<nb-card-body>
  <nb-tabset fullWidth>
    <!-- There is a thumbs up emoji here -->
    <nb-tab tabTitle="MEE"
            badgeText="👍"
            badgeStatus="success">
<!--      <nb-list>-->
<!--        <nb-list-item class="telemetry-list font-weight-bold">-->
<!--          <span class="float-right">Test</span>-->
<!--          <span class="float-left text-success" >f12</span>-->
<!--        </nb-list-item>-->
<!--      </nb-list>-->
    </nb-tab>
    <nb-tab tabTitle="PSE"
            badgeText="👍"
            badgeStatus="success">

    </nb-tab>
    <nb-tab tabTitle="TCU"
            badgeText="⚠️"
            badgeStatus="warning">

    </nb-tab>
  </nb-tabset>
</nb-card-body>
