<nb-card size="tiny">
  <nb-card-header>Horizontal ROV Visualization</nb-card-header>
  <nb-card-body>
    <div class="row my-3">
      <div class="col-3" style="transform: rotate(45deg);">
        <ngx-thruster></ngx-thruster>
      </div>
      <div class="col-3"></div>
      <div class="col-3" style="transform: rotate(-225deg);">
        <ngx-thruster></ngx-thruster>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3" style="transform: rotate(-45deg);">
        <ngx-thruster></ngx-thruster>
      </div>
      <div class="col-3"></div>
      <div class="col-3" style="transform: rotate(-135deg);">
        <ngx-thruster></ngx-thruster>
      </div>
    </div>
  </nb-card-body>
</nb-card>
