<nb-card size="tiny">
  <nb-card-header>Cameras</nb-card-header>
  <nb-card-body>
  <div class="row">
    <div class="col-4 my-2" *ngFor="let camera of cameras">
      <button nbButton [disabled]="!camera.connected" size="large" fullWidth
              [status]="(camera.activatedMain || camera.activatedSecondary) ? 'success' : 'danger'" (click)="cameraSwitch(camera.number)">{{ camera.number }}</button>
    </div>
    <nb-badge text="3 cameras online" status="success" position="bottom right"></nb-badge>
  </div>
  </nb-card-body>
</nb-card>
