<nb-card size="small">
  <nb-card-body>
    <nb-tabset>
      <!-- There is a thumbs up emoji here -->
      <nb-tab tabTitle="MEE"
              badgeText="👍"
              badgeStatus="success">
        <nb-list>
          <nb-list-item>
            Test
          </nb-list-item>
        </nb-list>
      </nb-tab>
      <nb-tab tabTitle="PSE"
              badgeText="👍"
              badgeStatus="success">

      </nb-tab>
      <nb-tab tabTitle="TCU"
              badgeText="⚠️"
              badgeStatus="warning">

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
