@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    position: relative;
  }

  ngx-frontside,
  ngx-backside {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  ::ng-deep nb-card-body {
    overflow: hidden;
    display: flex;
  }
}
