<div class="row">
  <div class="col-lg-7">
    <div class="row">
      <ngx-camera-switcher class="col-lg-5 col-sm-12"></ngx-camera-switcher>
      <ngx-thruster-visual class="col-lg-7 col-sm-12"></ngx-thruster-visual>
      <ngx-telemetry class="col-lg-6 col-sm-12"></ngx-telemetry>
      <ngx-sensitivity class="col-lg-6 col-sm-12"></ngx-sensitivity>
      <ngx-horizontal-rov-visualization class="col-lg-6 col-sm-12"></ngx-horizontal-rov-visualization>
      <ngx-vertical-rov-visualization class="col-lg-6 col-sm-12"></ngx-vertical-rov-visualization>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <ngx-vertical-pid class="col-lg-6 col-sm-12"></ngx-vertical-pid>
      <ngx-horizontal-pid class="col-lg-6 col-sm-12"></ngx-horizontal-pid>
      <ngx-video-feed class="col-lg-12"></ngx-video-feed>
    </div>
  </div>

</div>
